<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pan Tadeusz</title>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
      crossorigin="anonymous"
    ></script>
  </head>
  <body class="d-flex bg-light flex-column min-vh-100">
    <header>
      <div
        class="container-fluid d-flex flex-column justify-content-center align-items-center bg-dark text-white"
      >
        <h1 class="fs-1 fw-bold text-center">
          Sir Thaddeus, or the Last Foray in Lithuania
        </h1>
        <p class="fs-5 fw-normal text-center">
          A Nobility's Tale of the Years 1811–1812, in Twelve Books of Verse
        </p>
      </div>
    </header>
    <main>
      <section>
        <div class="container-fluid bg-light text-black py-5">
          <h2 class="text-center mb-4">
            Here you'll find a list of books we recommend
          </h2>
          <div class="w-100">
            <div class="row gx-4 gy-2">
              <div class="col-md-3">
                <nav class="bg-white h-100 rounded shadow-sm">
                  <h3 class="fs-5 text-center pt-4">Table of Contents</h3>
                  <ul class="nav flex-column p-2 d-flex flex-column align-items-center">
                    <li class="nav-item">
                      <a class="nav-link text-dark" href="./"
                        >Homepage</a
                      >
                    <li class="nav-item">
                      <a
                        class="nav-link text-secondary"
                        href="./k1"
                        >First</a
                      >
                    </li>
                    <li class="nav-item">
                      <a
                        class="nav-link text-secondary"
                        href="./k2"
                        >Second</a
                      >
                    </li>
                    <li class="nav-item">
                      <a
                        class="nav-link text-secondary"
                        href="./k3"
                        >Third</a
                      >
                    </li>
                    <li class="nav-item">
                      <a
                        class="nav-link text-secondary"
                        href="./k4"
                        >Fourth</a
                      >
                    </li>
                    <li class="nav-item">
                      <a
                        class="nav-link text-secondary"
                        href="./k5"
                        >Fifth</a
                      >
                    </li>
                    <li class="nav-item">
                      <a
                        class="nav-link text-secondary"
                        href="./k6"
                        >Sixth</a
                      >
                    </li>
                    <li class="nav-item">
                      <a
                        class="nav-link text-secondary"
                        href="./k7"
                        >Seventh</a
                      >
                    </li>
                    <li class="nav-item">
                      <a
                        class="nav-link text-secondary"
                        href="./k8"
                        >Eighth</a
                      >
                    </li>
                    <li class="nav-item">
                      <a
                        class="nav-link text-secondary"
                        href="./k9"
                        >Nineth</a
                      >
                    </li>
                    <li class="nav-item">
                      <a
                        class="nav-link text-secondary"
                        href="./k10"
                        >Tenth</a
                      >
                    </li>
                    <li class="nav-item">
                      <a
                        class="nav-link text-secondary"
                        href="./k11"
                        >Eleventh</a
                      >
                    </li>
                    <li class="nav-item">
                      <a
                        class="nav-link text-secondary"
                        href="./k12"
                        >Twelfth</a
                      >
                    </li>
                  </ul>
                </nav>
              </div>
              <div class="col-md-9">
                {% block content %}
                  <p>Layout page content. </p>
                {% endblock %}
                <!-- <div
                  class="d-flex flex-column align-items-center justify-content-center bg-white h-100 rounded shadow-sm p-4"
                >
                  <img
                    src="img/pan-tadeuzs.png"
                    alt="Pan Tadeusz"
                    class="img-fluid w-50 mb-4"
                  />
                  <h3>Enjoy Adam Mickiewicz's work</h3>
                </div> -->
              </div>
            </div>
          </div>
        </div>
      </section>

      <section>
        
      </section>
    </main>
      
    <footer class="d-flex flex-grow-1">
      <div class="container-fluid bg-dark text-white d-flex justify-content-center align-items-center" >
          <p class="m-0 text-center">Pyrih Yevhen, Krakow University of Economics</p>
      </div>
    </footer>
  </body>
</html>